# dependencies
/node_modules
/.open-next
/.wrangler

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*

# env
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
